html {
  width: 1440px;
  margin: 0 auto;
}

p,
h3 {
  font-family: Inter;
}

a,
h1 {
  font-family: Inika;
}

button {
  border-radius: 10px;
  border: 2px solid #e06733;
  background: transparent;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  width: 158px;
  height: 44px;
}

header {
  background: #edf2ec;
}

.headerWrapper {
  padding: 42px 109px 42px 111px;
  height: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  display: flex;
}

.headerLogo > img {
  position: relative;
  top: -6px;
}

nav {
  margin-right: 3px;
}

nav > ul {
  display: flex;
  font-size: 16px;
  font-weight: 400;
}

nav > ul > li {
  margin-right: 46px;
}

nav > ul > li:last-child {
  margin-right: 0;
}

/* welcome */

.welcome {
  background: #edf2ec;
  height: 532px;
}

.welcomeWrapper {
  padding: 62px 109px 62.64px 109px;
  display: flex;
  justify-content: space-between;
}

.welcomeWrapper > div {
  width: 549px;
  padding-top: 35px;
}

.welcomeWrapper h2 {
  color: #717171;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 42px;
}

.welcomeWrapper h2 > span {
  color: #499a18;
}

.welcomeWrapper > div > p {
  color: #636060;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 48px;
}

/* about */

.about {
  display: flex;
  justify-content: space-between;
  height: 666px;
  padding: 93px 109px 94px 109px;
}

.about > div {
  width: 604px;
  padding-top: 69px;
}

.about > div > h2 {
  color: #499a18;
  font-family: Inika;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 36px;
}

.about > div > h2 > span {
  color: #e06733;
  font-family: Inika;
  font-size: 40px;
  font-weight: 400;
}

.about > div > p {
  color: #636060;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

/* service */

.service {
  width: 1440px;
  background: #edf2ec;
}

.serviceWrapper {
  padding: 40px 109px 66px 109px;
}

.serviceTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1006px;
  margin-bottom: 80px;
}

.serviceTitle > h2 {
  color: #499a18;
  font-family: Inika;
  font-size: 40px;
  font-weight: 400;
  width: 306px;
}

.serviceTitle > div {
  display: flex;
}

.serviceTitle > div * {
  border-radius: 5px;
  width: 161px;
  height: 50px;
  margin-right: 38px;
  color: #e06733;
  font-family: Inika;
  font-size: 20px;
  font-weight: 400;
}

.serviceTitle > div *:last-child {
  margin-right: 0;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #e3e1d5;
  margin-bottom: 52px;
}

.projects > div > img {
  margin-bottom: 6px;
}

.projects > div > h3 {
  color: #e06733;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 13px;
}

.projects > div > p {
  margin-bottom: 36px;
}

/* price */

.price {
  padding: 40px 109px 107px 109px;
}

.priceTitle {
  display: flex;
  justify-content: space-between;
}

.priceTitle > h2 {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.priceTitle > h2 > span {
  color: #499a18;
}

.priceTitle > h2:last-child {
  width: 452px;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
}

.accordion {
  border-radius: 20px;
  border: 1px solid #e3e1d5;
  width: 332px;
  height: 283px;
  padding: 34px 41px;
  margin-top: 9px;
}

.accordion > div {
  border-radius: 20px;
  background: #edf2ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 38px 13px 39px;
  margin-bottom: 32px;
}

.accordion > div:last-child {
  margin-bottom: 0;
}

.accordion > div > p {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.contactUsWrapper {
  display: flex;
  flex-direction: column;
}

.contactUsWrapper > button {
  border-radius: 5px;
  width: 167px;
  height: 50px;
  color: #e06733;
  font-family: Inika;
  font-size: 20px;
  font-weight: 400;
  margin-top: 42px;
  margin-bottom: 34px;
}

/* contacts */

.contacts {
  background: #edf2ec;
}

.contactsWrapper {
  padding: 53px 109px 0 109px;
  display: flex;
  justify-content: space-between;
}

.contactsWrapper > img {
  margin-right: 45px;
}

.contactsWrapper > h2 {
  color: #499a18;
  font-family: Inika;
  font-size: 40px;
  font-weight: 700;
  margin-top: 7px;
}

.contactsWrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 450px;
  height: 50px;
  padding: 5px 35px 5px 20px;
  margin-top: 93px;
}

.contactsWrapper > div > p {
  color: #717171;
  font-size: 20px;
  letter-spacing: 1px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 47px 109px 40px 109px;
}

.GHWrapper {
  display: flex;
  margin-right: 21px;
}

.GHWrapper > p {
  display: flex;
  margin-right: 20px;
}

.GHWrapper > p:last-child {
  margin-right: 0;
}

footer p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.socialWrapper > a {
  margin-right: 16px;
}

.socialWrapper > a > img {
  transition: all 500ms ease;
}

.socialWrapper > a > img:hover {
  transform: scale(1.3);
}

.socialWrapper > a:last-child {
  margin-right: 0;
}
