html {
  width: 1440px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.active {
  background-color: #e06733;
  color: white !important;
}

.accActive {
  position: absolute;
  left: 40px;
  top: 34px;
  z-index: 1;
  width: 76%;
  height: 75% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #D6E7D2 !important;
}

.btnActive {
    transform: rotate(180deg);
}

.popUp {
  display: none;
}

.nav380 {
  display: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

p,
h3 {
  font-family: Inter;
}

a,
h1 {
  font-family: Inika;
}

button {
  border-radius: 10px;
  border: 2px solid #e06733;
  background: transparent;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  width: 158px;
  height: 44px;
}

header {
  background: #edf2ec;
}

.headerWrapper {
  padding: 42px 109px 42px 111px;
  height: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  display: flex;
}

.headerLogo > img {
  position: relative;
  top: -6px;
}

nav {
  margin-right: 3px;
}

nav > ul {
  display: flex;
  font-size: 16px;
  font-weight: 400;
}

nav > ul > li {
  margin-right: 46px;
}

nav > ul a {
  transition: all 200ms ease;
}

nav > ul a:hover {
  color: #e06733;
}

nav > ul > li:last-child {
  margin-right: 0;
}

/* welcome */

.welcome {
  background: #edf2ec;
  height: 532px;
}

.welcomeWrapper {
  padding: 62px 109px 62.64px 109px;
  display: flex;
  justify-content: space-between;
}

.welcomeWrapper > div {
  width: 549px;
  padding-top: 35px;
}

.welcomeWrapper h2 {
  color: #717171;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 42px;
}

.welcomeWrapper h2 > span {
  color: #499a18;
}

.welcomeWrapper > div > p {
  color: #636060;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 48px;
}

/* about */

.about {
  display: flex;
  justify-content: space-between;
  height: 666px;
  padding: 93px 109px 94px 109px;
}

.about > div {
  width: 604px;
  padding-top: 69px;
}

.about > div > h2 {
  color: #499a18;
  font-family: Inika;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 36px;
}

.about > div > h2 > span {
  color: #e06733;
  font-family: Inika;
  font-size: 40px;
  font-weight: 400;
}

.about > div > p {
  color: #636060;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

/* service */

.service {
  background: #edf2ec;
}

.serviceWrapper {
  padding: 40px 109px 66px 109px;
}

.serviceTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1006px;
  margin-bottom: 80px;
}

.serviceTitle > h2 {
  color: #499a18;
  font-family: Inika;
  font-size: 40px;
  font-weight: 400;
  width: 306px;
}

.serviceTitle > div {
  display: flex;
}

.serviceTitle > div * {
  border-radius: 5px;
  width: 161px;
  height: 50px;
  margin-right: 38px;
  color: #e06733;
  font-family: Inika;
  font-size: 20px;
  font-weight: 400;
}

.serviceTitle > div *:last-child {
  margin-right: 0;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #e3e1d5;
  margin-bottom: 52px;
}

.projects > div > img {
  margin-bottom: 6px;
}

.projects > div > h3 {
  color: #e06733;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 13px;
}

.projects > div > p {
  margin-bottom: 36px;
}

/* price */

.price {
  padding: 40px 109px 107px 109px;
}

.priceTitle {
  display: flex;
  justify-content: space-between;
}

.priceTitle > h2 {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.priceTitle > h2 > span {
  color: #499a18;
}

.priceTitle > h2:last-child {
  width: 452px;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
}

.accordion {
  border-radius: 20px;
  border: 1px solid #e3e1d5;
  width: 332px;
  height: 283px;
  padding: 34px 41px;
  margin-top: 9px;
  position: relative;
  overflow: hidden;
}

.firstP {
  color: #717171;
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  margin-bottom: 6px;
}

.secondP {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 12px;
}

.firstSpan {
  color: #e06733;
  font-size: 12px;
  font-weight: 700;
}

.secondSpan {
  color: #e06733;
  font-size: 16px;
  font-weight: 700;
}

.order {
  border-radius: 10px;
  background: #fff;
  width: 86px;
  height: 25px;
  color: #717171;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  border: none;
}

.accordionWrapper {
  margin-bottom: 32px;
  background: #edf2ec;
  padding: 12px 38px 13px 39px;
  border-radius: 20px;
  overflow: hidden;
  height: 49px;
  transition: all 500ms ease;
}

hr {
  background: #aea1a1;
  height: 0.5px;
  margin-bottom: 6px;
}

.accordionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.accordionTitle:last-child {
  margin-bottom: 0;
}

.accordionTitle > p {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.contactUsWrapper {
  display: flex;
  flex-direction: column;
}

.contactUsWrapper > button {
  border-radius: 5px;
  width: 167px;
  height: 50px;
  color: #e06733;
  font-family: Inika;
  font-size: 20px;
  font-weight: 400;
  margin-top: 42px;
  margin-bottom: 34px;
}

/* contacts */

.contacts {
  background: #edf2ec;
}

.contactsWrapper {
  padding: 53px 109px 0 109px;
  display: flex;
  justify-content: space-between;
}

.contactsWrapper > img {
  margin-right: 45px;
}

.contactsWrapper > h2 {
  color: #499a18;
  font-family: Inika;
  font-size: 40px;
  font-weight: 700;
  margin-top: 7px;
}

.contactsWrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 450px;
  height: 50px;
  padding: 5px 35px 5px 20px;
  margin-top: 93px;
}

.contactsWrapper > div > p {
  color: #717171;
  font-size: 20px;
  letter-spacing: 1px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 47px 109px 40px 109px;
}

.GHWrapper {
  display: flex;
  margin-right: 21px;
}

.GHWrapper > p {
  display: flex;
  margin-right: 20px;
}

.GHWrapper > p:last-child {
  margin-right: 0;
}

footer p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.socialWrapper > a {
  margin-right: 16px;
}

.socialWrapper > a > img {
  transition: all 500ms ease;
}

.socialWrapper > a > img:hover {
  transform: scale(1.3);
}

.socialWrapper > a:last-child {
  margin-right: 0;
}

@media all and (max-device-width: 768px) {
  html {
    width: 768px;
  }

  .welcome {
    height: 508px;
  }

  .headerWrapper {
    padding: 35px 50px;
  }

  .welcomeWrapper {
    padding: 40px 50px 70px 50px;
  }

  .welcomeWrapper > img {
    order: 2;
    width: 280px;
    height: 254.148px;
  }

  .welcomeWrapper > div {
    order: 1;
  }

  .welcomeWrapper h2 {
    width: 341px;
    height: 101px;
    font-size: 35px;
  }

  .welcomeWrapper > div > p {
    font-size: 16px;
    line-height: 25px;
  }

  .about {
    padding: 40px 50px 95px 50px;
    flex-direction: column;
    align-items: center;
    height: 783px;
  }

  .about > div {
    width: auto;
  }

  .about > div > h2 {
    text-align: center;
    font-size: 35px;
    padding: 0px 45px;
  }

  .about > div > p {
    width: 668px;
    margin-bottom: 40px;
  }

  .about img {
    width: 250px;
    height: 258px;
  }

  .serviceWrapper {
    padding: 60px 50px 70px 50px;
    height: 1800px;
  }

  .serviceTitle {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    width: auto;
  }

  .serviceTitle > h2 {
    margin-bottom: 40px;
  }

  .projects > div {
    width: 281px;
    height: 450px;
  }

  .projects > div > p {
    text-align: center;
    padding: 0 40px;
  }

  .price {
    padding: 40px 50px 88.015px 50px;
    width: 768px;
    position: relative;
  }

  .priceTitle {
    margin-bottom: 40px;
  }

  #priceTitle__Prices {
    font-size: 35px;
  }

  #priceTitle__descr {
    position: absolute;
    font-size: 25px;
    padding: 0px 0 0 110px;
    right: 50px;
    top: 127px;
  }

  .priceWrapper {
    height: 388px;
  }

  .contactUsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .contactsWrapper {
    padding: 40px 159px 0px 159px;
    flex-direction: column;
    align-items: center;
  }

  .contactsWrapper > img {
    order: 3;
    width: 200px;
    height: 248.493px;
    margin-right: 0;
  }

  .contactsWrapper > h2 {
    order: 1;
    text-align: center;
  }

  .contactsWrapper > div {
    order: 2;
    margin-bottom: 250px;
  }

  footer {
    flex-direction: column;
    margin-bottom: 20px;
  }

  footer > * {
    margin-bottom: 20px;
  }

  footer > *:last-child {
    margin-bottom: 0;
  }
}

@media all and (max-device-width: 380px) {
  html {
    width: 380px;
  }

  nav {
    display: none;
  }

  .nav380 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    z-index: 1;
    transition: all 500ms ease;
  }

  .popUp > nav {
    display: block;
  }

  .popUp > nav > ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .popUp {
    position: absolute;
    background: #edf2ec;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 500ms ease;
    color: black;
  }

  .popUp li {
    font-size: 32px;
    text-align: center;
    margin-bottom: 43px;
  }

  .popUp li:last-child {
    margin-bottom: 0;
  }

  .nav380 span {
    width: 30px;
    height: 3px;
    background-color: #cdcdcd;
    cursor: pointer;
  }

  header {
    position: relative;
  }

  .headerWrapper {
    padding: 36px 25px;
  }

  .welcome {
    height: 424px;
  }

  .welcomeWrapper > img {
    display: none;
  }

  .welcomeWrapper {
    padding: 24px 25px;
  }

  .about {
    padding: 30px 25px 31px 25px;
    height: 644px;
  }

  .about > div > h2 {
    font-size: 25px;
    padding: 0px 30px;
  }

  .about > div > h2 > span {
    font-size: 25px;
  }

  .about > div > p {
    width: 330px;
    font-size: 15px;
    margin-bottom: 0;
  }

  .about > img {
    width: 150px;
    height: 147px;
  }

  .service {
    height: 3260px;
  }

  .serviceWrapper {
    padding: 25px 30px;
  }

  .serviceTitle > h2 {
    font-size: 25px;
    padding-right: 30px;
  }

  .serviceTitle > div {
    display: flex;
    flex-wrap: wrap;
    width: 252px;
  }

  .serviceTitle > div * {
    width: 121px;
    height: 35px;
    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 9px;
  }

  .serviceTitle > div *:first-child {
    margin-left: 0;
  }

  .serviceTitle > div *:last-child {
    margin-left: 0;
    margin-bottom: 0;
  }

  .projects {
    justify-content: center;
  }

  .projects > div {
    width: 280px;
    height: 450px;
  }

  .price {
    padding: 25px 79px 40px 79px;
    width: 380px;
  }

  .priceWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .priceTitle {
    justify-content: center;
  }

  #priceTitle__Prices {
    font-size: 25px;
    text-align: center;
  }

  .contactUsWrapper > img {
    display: none;
  }

  #priceTitle__descr {
    display: none;
  }

  .contactsWrapper {
    padding: 25px 42px 0px 42px;
  }

  .contactsWrapper > h2 {
    font-size: 25px;
  }

  .contactsWrapper > div {
    width: 300px;
    height: 50px;
    margin-bottom: 137px;
  }

  .contactsWrapper > img {
    width: 100px;
    height: 124.246px;
  }

  footer {
    padding: 22px 85px 16px 85px;
  }

  .popUpWrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
  }
}
